<div class="container">
    <div class="bg-primary bg-opacity-50 p-5 m-2 shadow">
        <div class="bg-light bg-opacity-75 p-2 m-2 shadow">
            <h1 class="display-3 text-center mb-4">Contact Us</h1>
                <h3 class="display-6 text-center pb-2 "><span class="fw-bold">Phone: </span>1-800-937-9922</h3>
                <h3 class="display-6 text-center"><span class="fw-bold">Email: </span><a class="text-decoration-none text-black" href="mailto:Business@CatSalon.com">Business@CatSalon.com</a></h3>

        </div>
    </div>
</div>